language: objective-c
before_install: true
  - brew update
  - brew upgrade xctool
  - gem install cocoapods --pre
before_script:
  - export QINIU_TEST_ENV="travis"
script:
  - xctool -workspace QiniuSDK.xcworkspace -scheme QiniuSDK_iOS -sdk iphonesimulator -configuration Release test -test-sdk iphonesimulator7.0 -freshInstall -freshSimulator
  - xctool -workspace QiniuSDK.xcworkspace -scheme QiniuSDK_Mac -sdk macosx -configuration Release test -test-sdk macosx
