on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
name: Run Test Cases
jobs:
  test-on-mac:
    runs-on: macos-12
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Setup Ruby 3.0
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
      - name: Setup Environment
        run: |
          gem install cocoapods --pre --no-document
          rm -rf $HOME/.cocoapods
          pod setup --silent
          pod install --silent --no-repo-update
      - name: Run Cases
        env:
          QINIU_TEST_ENV: travis
        run: |
          xcodebuild test -workspace QiniuSDK.xcworkspace -scheme QiniuSDK_iOS -configuration Debug -destination 'platform=iOS Simulator,name=iPhone 12 Plus' -enableCodeCoverage YES
          xcodebuild test -workspace QiniuSDK.xcworkspace -scheme QiniuSDK_Mac -configuration Debug -destination 'platform=macOS,arch=x86_64'
          bash <(curl -s https://codecov.io/bash)
